html,
body {
    margin: 0 auto;
    height: 100%;
}

.border {
    position: absolute;
    border: 15px solid;
    border-image-source: -webkit-linear-gradient(45deg, rgba(255, 194, 194, 1) 0%, rgba(254, 230, 184, 1) 19%, rgba(255, 248, 185, 1) 33%, rgba(217, 255, 222, 1) 46%, rgba(199, 229, 252, 1) 63%, rgba(218, 206, 252, 1) 82%, rgba(230, 162, 255, 1) 100%);
    overflow: hidden;
    border-image-slice: 1;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 100%;
}

.wrapper {
    background: #fff;
    margin: 0 auto;
    height: inherit;
}

h1 {
    font-family: 'Archivo Black', sans-serif;
    color: #fff;
    background: -webkit-linear-gradient(180deg, rgba(255, 194, 194, 1) 0%, rgba(255, 248, 185, 1) 24%, rgba(217, 255, 222, 1) 43%, rgba(199, 229, 252, 1) 63%, rgba(230, 162, 255, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-family: 'Archivo Black', sans-serif;
    color: rgb(67, 67, 67);
}

p {
    font-family: 'Roboto Mono', monospace;
}

button {
    font-family: 'Roboto Mono', monospace;
    border-radius: 5px;
    font-size: 1em;
}

#select-cursor {
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    width: 120px;
    height: 60px;
    border: solid 2px black;
    border-radius: 0;
}

.button-darktheme {
    margin-left: 10px;
    color: #fff;
    background: #333;
    width: 120px;
    height: 60px;
    border: solid 2px black;
}