/*
FONT FACE
*/

@font-face {
  font-family: DIN;
  src: url(../fonts/DIN2014-Regular.otf);
}

@font-face {
  font-family: FFDIN;
  src: url(../fonts/FFDIN-Regular.otf);
}

html,
body {
  margin: 0 auto;
  min-height: 100%;
}

body {
  max-width: 100%;
  background: #fff9e2;
}

nav {
  background: #4075ff;
  max-width: 100%;
  height: 50px;
  padding: 10px 20px 0px 20px;
}

.nav-contents {
  margin: 0 auto;
}

ul {
  margin: 0 auto;
  text-align: center;
  list-style-type: none;
}

ul li {
  display: inline;
}

li {
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 600;
  font-size: 1.5em;
  color: #fff;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px; /* 2 */
  padding-right: 10px; /* 3 */
  padding-left: 10px; /* 3 */
  border: solid 2px red;
  overflow: auto;
}

h1 {
  font-family: "DIN", sans-serif;
  color: #000;
}

h2 {
  font-family: "DIN", sans-serif;
  color: #000;
}

p {
  font-family: "FFDIN", monospace;
}

.date {
  font-size: 0.8em;
  color: #bfbfbf;
}

a {
  color: #000;

  text-decoration: none;
}

a:hover {
  transition: box-shadow 0.3s ease-in-out;
}

ul,
ol,
li {
  font-family: "FFDIN", monospace;
}

.test-img {
  margin: auto;
  max-width: 100%;
  height: auto;
}

button {
  display: inline-block;
  padding: 10px;
  border: solid 4px black;
  background: #fff;
  font-family: "FFDIN", monospace;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 200px;
  margin: 10px;
}

button:hover {
  cursor: pointer;
  background: #000;
  color: #fff;
}

#popup {
  display: none;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 100%; /* 2 */
  max-height: 100%;
  background: none;
  margin-top: 5%;
}

#popup:before {
  vertical-align: middle;
}

.container {
  margin: auto;
}

.close-button {
  cursor: pointer;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}

.close-x {
  display: inline-block;
  position: relative;
  min-height: 5px;
  max-height: 40px;
  width: auto;
  padding: 20px;
}

.close-x:hover img {
  fill: white;
}

.style-quiz {
  border: solid 8px black;
  margin: 0 auto;
  top: 0;
  left: 0;
  position: relative;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
