html,
body {
  margin: 0 auto;
  height: 100%;
}
.wrapper {
  background: #fff;
  margin: 0 auto;
  height: inherit;
  padding: 20px;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  color: #fff;
  background: -webkit-linear-gradient(
    180deg,
    rgba(255, 194, 194, 1) 0%,
    rgba(255, 248, 185, 1) 24%,
    rgba(217, 255, 222, 1) 43%,
    rgba(199, 229, 252, 1) 63%,
    rgba(230, 162, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: "Archivo Black", sans-serif;
  color: rgb(67, 67, 67);
}

p {
  font-family: "Roboto Mono", monospace;
}

a {
  color: black;
}

a:hover {
  font-family: "Archivo Black", sans-serif;
  color: #fbd11d;
  transition: 1s ease-in-out forwards;
}
